%h1= @doorbot.nickname
%p
  %b Api Key:
  = @doorbot.api_key
%p
  = link_to 'Setup Guide for RaspberryPi', 'https://github.com/jweakley/doorbot-pi', target: '_blank'
%p
  = link_to 'Edit', edit_doorbot_path(@doorbot)

%h2 10 Most Recent Requests
%table.table.table-striped
  %tr
    %th Credential
    %th Access Granted
    %th Time of Request
    %th

  - @access_requests.each do |access_request|
    %tr
      %td
        - if access_request.credential.blank?
          %span="Unknown: #{access_request.form} | #{access_request.key}"
        - else
          %span=access_request.credential.nickname
      %td
        - if access_request.access_granted
          %span Granted
        - else
          %span Denied
      %td= access_request.created_at.in_time_zone('America/Los_Angeles').to_formatted_s(:rfc822)
      %td
        - if access_request.credential.blank?
          =link_to 'Create New Credential', new_credential_path(form: access_request.form, key: access_request.key, doorbot_id: @doorbot.id)
        - elsif !access_request.access_control_exists?
          =link_to 'Create New Access Control', new_access_control_path(credential_id: access_request.credential.id, doorbot_id: @doorbot.id)
