= form_for @user, html: { class: "form form-horizontal user" } do |f|
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.email_field :email, class: 'form-control', required: true
    = error_span(@user[:email])
    - f.object.errors[:email].each do |error|
      %mark.error= error
  .form-group
    = f.label :password, class: 'control-label'
    .controls
      = f.password_field :password, class: 'form-control', required: false
    = error_span(@user[:password])
    - f.object.errors[:password].each do |error|
      %mark.error= error
  .form-group
    = f.label :password_confirmation, class: 'control-label'
    .controls
      = f.password_field :password_confirmation, class: 'form-control', required: false
    = error_span(@user[:password_confirmation])
    - f.object.errors[:password_confirmation].each do |error|
      %mark.error= error
  .form-group
    = f.label :current_password, class: 'control-label'
    .controls
      = f.password_field :current_password, class: 'form-control', required: true
    = error_span(@user[:current_password])
    - f.object.errors[:current_password].each do |error|
      %mark.error= error
    %i (we need your current password to confirm your changes)
  = f.submit nil,class: 'btn btn-primary'
