= form_for @user, html: { class: "form form-horizontal user" } do |f|
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
    = error_span(@user[:email])
  .form-group
    = f.label :encrypted_password, class: 'control-label'
    .controls
      = f.text_field :encrypted_password, class: 'form-control', required: true
    = error_span(@user[:encrypted_password])
  .form-group
    = f.label :reset_password_token, class: 'control-label'
    .controls
      = f.text_field :reset_password_token, class: 'form-control', required: true
    = error_span(@user[:reset_password_token])
  .form-group
    = f.label :reset_password_sent_at, class: 'control-label'
    .controls
      = f.text_field :reset_password_sent_at, class: 'form-control', required: true
    = error_span(@user[:reset_password_sent_at])
  .form-group
    = f.label :current_sign_in_at, class: 'control-label'
    .controls
      = f.text_field :current_sign_in_at, class: 'form-control', required: true
    = error_span(@user[:current_sign_in_at])
  .form-group
    = f.label :last_sign_in_at, class: 'control-label'
    .controls
      = f.text_field :last_sign_in_at, class: 'form-control', required: true
    = error_span(@user[:last_sign_in_at])
  .form-group
    = f.label :current_sign_in_ip, class: 'control-label'
    .controls
      = f.text_field :current_sign_in_ip, class: 'form-control', required: true
    = error_span(@user[:current_sign_in_ip])
  .form-group
    = f.label :last_sign_in_ip, class: 'control-label'
    .controls
      = f.text_field :last_sign_in_ip, class: 'form-control', required: true
    = error_span(@user[:last_sign_in_ip])
  .form-group
    = f.label :failed_attempts, class: 'control-label'
    .controls
      = f.text_field :failed_attempts, class: 'form-control', required: true
    = error_span(@user[:failed_attempts])
  .form-group
    = f.label :unlock_token, class: 'control-label'
    .controls
      = f.text_field :unlock_token, class: 'form-control', required: true
    = error_span(@user[:unlock_token])
  .form-group
    = f.label :locked_at, class: 'control-label'
    .controls
      = f.text_field :locked_at, class: 'form-control', required: true
    = error_span(@user[:locked_at])
  .form-group
    = f.label :role, class: 'control-label'
    .controls
      = f.text_field :role, class: 'form-control', required: true
    = error_span(@user[:role])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
