%h1= @credential.nickname
%p
  %b key:
  = @credential.key
%hr
= render partial: 'shared/versions_table', locals: { model: @credential }

%br
= link_to 'Edit', edit_credential_path(@credential)
\|
= link_to 'Back', credentials_path
